<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep App</title>
  </head>
  <body class="body">
    <nav class="nav">
      <div class="nav__left">
        <div class="nav__left--hamb-menu">
          <span class="nav__hamb-menu--icon">≡</span>
        </div>
        <div class="nav__logo">
          <h1 class="nav__logo--text">Keep</h1>
        </div>
      </div>
      <div class="nav__right">
        <div class="nav__right--view-icon-box">
          <img class="nav__view--icon" src="./media/icons/list.png" alt="Display icon">
          <img class="nav__view--icon" src="./media/icons/grid.png" alt="Display icon">
        </div>
        <div class="nav__right--user-box">
          <img class="nav__user--icon" src="./media/icons/user.png" alt="User icon">
        </div>
      </div>
    </nav>
    <aside class="aside">
      <div class="aside__sidebar">
        <button type="button" class="aside__sidebar--btn"><img src="./media/icons/notes.svg">Notes</button>
        <button type="button" class="aside__sidebar--btn"><img src="./media/icons/reminder.png">Reminders</button>
        <button type="button" class="aside__sidebar--btn"><img src="./media/icons/settings.svg">Settings</button>
      </div>
    </aside>
    <main class="main">
      <div class="main__input">
        <textarea class="main__input--field"></textarea>
      </div>
    </main>
  </body>
</html>
