<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep App</title>
  </head>
  <body class="body">
    <nav class="nav">
      <div class="nav__left-side">
        <div class="hamb-menu">
          <span onclick="Client.menuDisplay();"class="icon--hamb-menu">≡</span>
        </div>
        <div class="logo">
          <h1 class="txt--logo">Keep</h1>
        </div>
      </div>
      <div class="nav__right-side">
        <div class="view__icons">
          <img class="icon--view icon--list visible" onclick="Client.changeView(mode = 'list');" src="./media/icons/list.png" alt="Display icon">
          <img class="icon--view icon--grid hidden" onclick="Client.changeView(mode = 'grid');" src="./media/icons/grid.png" alt="Display icon">
        </div>
        <div class="nav__right-side--user">
          <img class="icon--user" src="./media/icons/user.png" alt="User icon">
        </div>
      </div>
    </nav>
    <aside class="aside">
      <div class="sidebar">
        <button type="button" class="btn--sidebar txt--btn"><img src="./media/icons/notes.svg">Notes</button>
        <button type="button" class="btn--sidebar txt--btn"><img src="./media/icons/reminder.png">Reminders</button>
        <button type="button" class="btn--sidebar txt--btn"><img src="./media/icons/settings.svg">Settings</button>
      </div>
    </aside>
    <main class="main">
      <div class="input">
        <textarea onkeydown="Client.detectKey(event)" placeholder="Take a note..." class="input__field txt--input"></textarea>
        <span class="input__counter"></span>
      </div>
      <section class="notes flex-grid">
      </section>
      <div class="placeholder">
        <img class="placeholder__img" src="./media/icons/logo.svg" alt="Placeholder bulb icon">
        <p class="txt--bulb-placeholder">Your notes will appear right here</p>
      </div>
    </main>
  </body>
</html>
