<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep App</title>
  </head>
  <body class="body">
    <nav class="nav">
      <div class="nav__left--box"
        <div class="nav__hamb-menu--box">
          <span class="hamb-menu--icon">≡</span>
        </div>
        <div class="nav__logo--box">
          <h1 class="nav__logo--text">Keep</h1>
        </div>
      </div>
      <div class="nav__right--box">
        <div class="nav__sth">
        </div>
        <div class="nav__user--box">
          <img src="media/icons/user.png" alt="User icon">
        </div>
      </div>
    </nav>
  </body>
</html>
