.icon{
  &--hamb-menu{
    position: absolute;
    top: .1rem;
    left: 1.1rem;
    font-size: $hamb-menu-size;
    font-weight: 800;
    transition: all .4s;
    cursor: pointer;
  }
  &--view{
    width: auto;
    cursor: pointer;
  }

  &--grid{
    position: relative;
    right: 3.9rem;
    top: .5rem;
    width: 3.3rem;
    height: 3.3rem;
  }

  &--list{
    position: relative;
    right: 3.9rem;
    top: 0;
    height: $list-view-size;
  }
  &--user{
    position: absolute;
    right: 0.92rem;
    top: 1.7rem;
    width: inherit;
    height: inherit;
    cursor: pointer;
  }
}
