.notes{
  box-sizing: border-box;
  margin: 3rem .5rem .5rem .5rem;
    .note{
      border-style: solid;
      border-color: grey;
      margin: 2rem;
      height: 20rem;
    }
}

.flex-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

   .note{
     min-width: 5rem;
     max-width: 40rem;
   }
}

.flex-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

    .note{
    min-width: 95%;
  }
}
