//colors:
$color-navbar: #fbe192;
$color-grey-dark: #354149;
$color-grey-light: #b5bec6;
$color-white: #fff;
$color-border: #c3c3c3;
//font-family
$noto-sans-jp: 'Noto Sans JP', sans-serif;

//font-size:
$logo-font-size: 2.7rem;
$btn-font-size: 2.2rem;
$placeholder-font-size: 1.6rem;
$input-font-size: 1.6rem;
$note-txt-font-size: 2rem;
//icons-size:
$hamb-menu-size: 4.3rem;
$list-view-size: 4.3rem;
$grid-view-size: 3.2rem;
$notes-icon-size: 4.4rem;
$reminder-icon-size: 3.6rem;
$settings-icon-size: 3.6rem;
