.body{
  display: grid;
  grid-template-areas:
  'nav nav nav'
  'sidebar main main'
  'sidebar main main';
  grid-template-rows: 6.4rem repeat(2, 1fr);
  grid-template-columns: 24.1rem repeat(2, 1fr);
}

.nav{
  grid-area: nav;
}

.aside{
  grid-area: sidebar;
}

.main{
  grid-area: main;
}

.flex-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    &>div{
      flex-grow: 1;
      min-width: 20rem;
      max-width: 30rem;
    }
}

.flex-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    &>div{
      width: 100%;
      box-sizing: border-box;
    }
}

.hidden{
  visibility: hidden;
}
