body.body{
  display: grid;
  grid-template-areas:
  'nav nav nav'
  'sidebar main main'
  'sidebar main main';
  grid-template-rows: 6.4rem 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

nav.nav{
  grid-area: nav;
}

aside.aside{
  grid-area: sidebar;
}

main.main{
  grid-area: main;
}
