html{
  font-size: 62.5%;
}

html, body{
  max-width: 100vw;
  max-height: 100vh;
}

html, body, h1, p, img{
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
.visible{
  display: inline-block;
}
