.body,
.body-wide-main-cont{
  font-family: $noto-sans-jp;
  color: $color-grey-dark;
}

.txt{
  &--logo{
    font-size: $logo-font-size;
  }
  &--btn{
    font-size: $btn-font-size;
  }
  &--input{
    font-size: $input-font-size;
      &::placeholder{
        font-size: $placeholder-font-size;
      }
  }
  &--note{
    font-size: $note-txt-font-size;
    padding: .5rem;
    min-width: 18rem;
    max-width: 28rem;
    max-height: 18rem;
    overflow-y: scroll;
  }

  &--bulb-placeholder{
    font-size: $note-txt-font-size;
    text-align: center;
    padding-top: 1.5rem;
  }
}
