body.body{
  font-family: $noto-sans-jp;
  color: $color-grey-dark;
}

.nav{
  &__left{
    .nav__logo{
      &--text{
        font-size: $logo-font-size;
      }
    }
  }
}

.aside{
  &__sidebar{
    &--btn{
      font-size: $btn-font-size;
    }
  }
}

.main{
  &__input{
    &--field{
      font-size: $input-font-size;
        &::placeholder{
          font-size: $placeholder-font-size;
        }
    }
  }
}
